<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.mapper.BoardMapper">
    <insert id="write">
        <selectKey keyProperty="bno" order="BEFORE" resultType="int">
            select max(bno)+1 bno from board
        </selectKey>

        insert into board(bno, title, content)
        values(#{bno},#{title},#{content})
    </insert>

    <!--  id도 list 이러지말고 Borad테이블이면 getBoardList 이런씩으로   -->
    <!--  select 변수명 get, insert(reg), update(mod), ...  -->
    <select id="list" resultType="com.food.model.BoardVO">
        select *
        from (
        select @rownum:=@rownum+1 rownum, b.* from board b, (select @rownum:=0) tmp
        <if test="keyword != null">
            <choose>
                <when test="type == 't'.toString()">
                    where title like concat('%',#{keyword},'%')
                </when>
                <when test="type == 'c'.toString()">
                    where content like concat('%',#{keyword},'%')
                </when>
                <otherwise>
                    where title like concat('%',#{keyword},'%')
                    or content like concat('%',#{keyword},'%')
                </otherwise>
            </choose>
        </if>
        order by bno desc
        ) list
        <![CDATA[
        where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum} * #{amount}
        ]]>
    </select>

    <select id="total" resultType="int" parameterType="com.food.model.BoardVO">
        select count(*) from board
        <if test="keyword != null">
            where title like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="detail" resultType="com.food.model.BoardVO">
        select bno, title, content, regdate, cnt, id
        from board
        where bno=#{bno}
    </select>

    <update id="cntup">
        update board
        set cnt = cnt + 1
        where bno = #{bno}
    </update>

    <update id="modify">
        update board set
        title=#{title}, content=#{content}
        where bno=#{bno}
    </update>

    <delete id="remove">
        delete from board
        where bno=#{bno}
    </delete>
</mapper>